table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
th {
    position: relative;
    background-color: #f1f1f1;
    cursor: pointer;
}
th:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
}

.tableScroll {
    overflow: auto;
    overflow-y: hidden;
    height: 10rem;
}