.THIS.forceChatterBasePublisher {
    padding: 0px !important;
}

.THIS.card{
    padding-top:1.5rem;
    padding-right:1rem;
    width:103%;
  	height:23rem;
  	overflow-y:auto;
}

.THIS.slds-modal__footer{
    box-shadow:none !important;
    border-top-color:none !important;
}