input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=search] {
  outline: 1px solid rgb(186, 186, 186);
  border-radius: 2px;
  border: none;
  padding: 7px;
  width: 66rem;
}

input[type=number] {
  outline: 1px solid rgb(186, 186, 186);
  border-radius: 2px;
  border: none;
  padding: inherit;
}

input[type=date] {
  outline: 1px solid rgb(186, 186, 186);
  border-radius: 2px;
  border: none;
  padding: inherit;
} 
input[type=text] {
  outline: 1px solid rgb(186, 186, 186);
  border-radius: 2px;
  border: none;
  padding: inherit;
}

.input-product_code, input[type='text'] {
  outline: 1px solid rgb(186, 186, 186);
  border-radius: 2px;
  border: none;
  padding: 5px;
  width: 18rem;
}

input:focus {
  outline: 1px solid rgb(0, 128, 255);
  box-shadow: 0 0 3px rgba(0, 128, 255, 1);
}