.div1, .div2 {
    float: left;
    width: 100px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }

/* Style for making the header sticky */
.fixed-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1; /* Ensures the header stays on top of the body content */
}

